*{
    box-sizing: border-box;
}

body{
    background-color:#0A0A0A;
    padding: 0px;
    margin: 0px;
}

// .instagram {
//     color: #fd1d1d;
//     cursor: pointer;
//   }
//   .facebook {
//     color: #1877f2;
//     cursor: pointer;
//   }
//   .github {
//     color: #4078c0;
//     cursor: pointer;
//   }
//   .gmail{
//     color: #D44638;
//     cursor: pointer;
//   }

  .main-btn{
    background-color: #FBFCD4;
    color:#FBC403;
}



