@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #0A0A0A;
  padding: 0px;
  margin: 0px;
}

.instagram {
  color: #fd1d1d;
  cursor: pointer;
}

.facebook {
  color: #1877f2;
  cursor: pointer;
}

.github {
  color: #4078c0;
  cursor: pointer;
}

.gmail {
  color: #D44638;
  cursor: pointer;
}

.main-btn {
  background-color: #FBFCD4;
  color: #FBC403;
}

.navbar .navbar-brand {
  font-size: 30px;
  color: #ffdd03;
}
.navbar .navbar-brand:hover {
  color: #ffdd03;
}
.navbar .navbar-toggler {
  color: #ffdd03;
  font-size: 30px;
  font-weight: bold;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .collapse .navbar-nav .nav-link {
  font-family: Arial, Helvetica, sans-serif;
  color: #fbfcd4;
  position: relative;
}
.navbar .collapse .navbar-nav .nav-link:hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #fbfcd4;
  bottom: 4px;
  left: 0;
  right: 0;
  border-radius: 3px;
  box-shadow: 0px 0px 1.5px 1px rgb(245, 245, 94);
}
.navbar .collapse .navbar-nav .nav-link.active span {
  color: #ffdd03;
  font-weight: bold;
}
.navbar .collapse .contact .btn {
  color: white;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 18px;
  border-width: 2px;
  border-style: solid;
  border-color: #ffdd03;
  font-weight: 500;
}
.navbar .collapse .contact .btn:hover {
  background-color: #ffdd03;
  color: #fff;
}
.navbar .collapse .contact .btn:focus {
  box-shadow: none;
}

.hero {
  height: calc(100vh - 71px);
}
.hero .title {
  color: #ffdd03;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.1;
  transition: 0.9s;
}
.hero .title.show {
  opacity: 1;
}
.hero .fonction {
  color: #fbc403;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.1;
  transition: 1.5s;
}
.hero .fonction.show {
  opacity: 1;
}
.hero .description {
  font-size: 18px;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #dbdfd5;
  opacity: 0.1;
  transition: 2s;
}
.hero .description.show {
  opacity: 1;
}
.hero .image {
  width: 50%;
  animation: animate 2s infinite ease alternate;
  transform: rotateY(360deg);
  transition: 3s;
  opacity: 0.1;
}
.hero .image:hover {
  transition: 0.4;
  animation: click 2s ease alternate;
}
.hero .image.show {
  opacity: 1;
}
.hero .image .front {
  left: 20%;
  top: 15%;
}
.hero .icons-social a {
  cursor: pointer;
  opacity: 0.1;
  transition: 2s;
}
.hero .icons-social a.show {
  opacity: 1;
}
.hero .icons-social a:hover {
  color: inherit;
  opacity: 0.9;
  position: relative;
  top: 2px;
}
@keyframes animate {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(25px);
  }
}
@keyframes click {
  to {
    transform: rotateY(180deg);
  }
}
.break {
  width: 70px;
  height: 8px;
  display: block;
  background: #fb0;
}

.skills .skill {
  background-color: red;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-clip-path: polygon(51% 39%, 90% 18%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 18%);
  clip-path: polygon(51% 39%, 90% 18%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 18%);
}
.skills .head {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffdd03;
  opacity: 0.1;
  transition: 1.5s;
}
.skills .head.show {
  opacity: 1;
}
.skills .mini {
  color: #fbc403;
}
.skills .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 50px 18px 18px 0px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.skills .box:before {
  content: "";
  position: absolute;
  background-color: #0a0a0a;
  width: 150px;
  height: 75px;
  border-radius: 50%;
  top: -35px;
  z-index: 1;
}
.skills .box:after {
  position: absolute;
  width: 100px;
  height: 100px;
}
.skills .box.box1 {
  opacity: 0.1;
  transition: 3s;
}
.skills .box.box1.show {
  opacity: 1;
}
.skills .box.box2 {
  opacity: 0.1;
  transition: 3.5s;
}
.skills .box.box2.show {
  opacity: 1;
}
.skills .box.box3 {
  opacity: 0.1;
  transition: 4s;
}
.skills .box.box3.show {
  opacity: 1;
}
.skills .box.box4 {
  opacity: 0.1;
  transition: 4.5s;
}
.skills .box.box4.show {
  opacity: 1;
}
.skills .box .title {
  font-family: Arial, Helvetica, sans-serif;
  color: #0a0a0a;
}
.skills .box .effect {
  width: 40px;
  height: 40px;
  background: #0a0a0a;
  border-radius: 50%;
  left: 3%;
  top: 7%;
}
.skills .box .icon {
  top: 1%;
  font-size: 25px;
  right: 5%;
}
.skills .box .icon.figma {
  color: #f14d1d;
}
.skills .box .icon .html {
  color: #e34f26;
}
.skills .box .icon .css {
  color: #2965f1;
}
.skills .box .icon .react {
  color: #00d8ff;
}
.skills .box .icon.code {
  color: #1877f2;
}
.skills .box .desc {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.projects .title {
  color: #fff;
  opacity: 0.1;
  transition: 1s;
}
.projects .title.show {
  opacity: 1;
}
.projects .desc {
  color: #5f3cc5;
  font-family: Roboto, sans-serif;
  opacity: 0.1;
  transition: 2s;
}
.projects .desc.show {
  opacity: 1;
}
.projects .box {
  background-color: #5f3cc5;
  width: 100%;
  height: 400px;
  box-shadow: 0 0 20px 0 rgba(35, 20, 78, 0.7);
}
.projects .box .mySwiper {
  width: 100%;
  height: 100%;
  top: 0%;
  transition: 3s;
}
.projects .box .mySwiper.show {
  top: 20%;
}
.projects .box .mySwiper .card {
  width: 23rem;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  background: #eee;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}
.projects .box .mySwiper .card .card-img-top {
  border-radius: 8px;
  opacity: 0.6;
  cursor: pointer;
}
.projects .box .mySwiper .card .card-img-top:hover {
  opacity: 1;
}
.projects .box .mySwiper .card .card-body .card-title {
  color: #5f3cc5;
}
.projects .box .mySwiper .card .card-body .btn {
  color: #fff;
  background-color: #23144e;
}
.projects .box .mySwiper .card .card-body .btn:focus {
  box-shadow: none;
}

.footer {
  background-color: #fbfcd4;
}
.footer .title {
  color: #fbc403;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .desc {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer .copyright {
  color: #0a0a0a;
}
.footer .links .item a {
  color: #0a0a0a;
}
.footer .links .item a:hover {
  opacity: 0.5;
}

.about .title {
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.1;
  transition: 1s;
}
.about .title.show {
  opacity: 1;
}
.about .mini {
  color: #fbc403;
}
.about .pic {
  opacity: 0.1;
  transition: 3.5s;
}
.about .pic.show {
  opacity: 1;
}
.about .pic .back {
  opacity: 0.1;
  transition: 3s;
}
.about .pic .back.animate {
  opacity: 1;
  top: 15%;
  left: 10%;
  position: absolute;
}
.about .pic .back .avatar {
  border-radius: 30px;
  opacity: 0.5;
}
.about .pic .image .avatar {
  transition: 1s;
  border-radius: 25px;
}
.about .description p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  opacity: 0.1;
  transition: 2s;
}
.about .description p.show {
  opacity: 1;
}
.about .description .nums {
  opacity: 0.1;
  transition: 2.5s;
}
.about .description .nums.show {
  opacity: 1;
}
.about .description .download {
  opacity: 0.1;
  transition: 2.8s;
}
.about .description .download.show {
  opacity: 1;
}

.testimonials .head {
  font-family: Arial, Helvetica, sans-serif;
}
.testimonials .desc {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.testimonials .swiper {
  height: 70vh;
}
.testimonials .swiper .swiper-slide {
  margin: 0;
  color: black;
}
.testimonials .card {
  border-radius: 10px 2px 12px 0px;
}
.testimonials .card:before {
  content: "";
  position: absolute;
  width: 115px;
  height: 100px;
  background-color: #0a0a0a;
  border-radius: 50%;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
}
.testimonials .card img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -17%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.testimonials .card .title {
  font-family: Arial, Helvetica, sans-serif;
}
.testimonials .card .mini {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px !important;
}
.testimonials .card .desc {
  font-family: Arial, Helvetica, sans-serif;
}
.testimonials .card .quote {
  background-color: #f8b600;
  width: 40px;
  height: 40px;
}

.Contact {
  background-color: #dbcfed;
}
.Contact .row .head {
  color: #321c51;
  font-family: "Poppins", sans-serif;
}
.Contact .row .head b {
  color: #a91079;
}
.Contact .row .subtitle {
  color: #321c51;
  font-family: "Roboto", sans-serif;
}
.Contact .row .services .service {
  font-family: "Roboto", sans-serif;
  color: #321c51;
  border: 1px solid #321c51;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}
.Contact .row .services .active {
  background-color: #321c51;
  color: #fdd;
}
.Contact .row .form #user {
  border: 1px solid rgba(50, 28, 81, 0.5);
  border-radius: 8px;
  background-color: #ececec;
  color: #000;
  font-weight: bold;
}
.Contact .row .form #user::-moz-placeholder {
  font-weight: bold;
  color: rgba(50, 28, 81, 0.5);
}
.Contact .row .form #user::placeholder {
  font-weight: bold;
  color: rgba(50, 28, 81, 0.5);
}
.Contact .row .form #user:focus {
  border: 1px solid rgba(50, 28, 81, 0.5);
  outline: none;
}
.Contact .row .form #mail {
  border: 1px solid rgba(50, 28, 81, 0.5);
  border-radius: 8px;
  background-color: #ececec;
  color: #000;
  font-weight: bold;
}
.Contact .row .form #mail::-moz-placeholder {
  font-weight: bold;
  color: rgba(50, 28, 81, 0.5);
}
.Contact .row .form #mail::placeholder {
  font-weight: bold;
  color: rgba(50, 28, 81, 0.5);
}
.Contact .row .form #mail:focus {
  border: 1px solid rgba(50, 28, 81, 0.5);
  outline: none;
}
.Contact .row .form #message {
  border: 1px solid rgba(50, 28, 81, 0.5);
  border-radius: 8px;
  background-color: #ececec;
  color: #000;
  font-weight: bold;
  caret-color: #321c51;
}
.Contact .row .form #message::-moz-placeholder {
  font-weight: bold;
  color: rgba(50, 28, 81, 0.5);
}
.Contact .row .form #message::placeholder {
  font-weight: bold;
  color: rgba(50, 28, 81, 0.5);
}
.Contact .row .form #message:focus {
  border: 1px solid rgba(50, 28, 81, 0.5);
  outline: none;
}
.Contact .row .form .btn {
  border-radius: 8px;
  background-color: #321c51;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.Contact .row .form .btn:hover {
  opacity: 0.8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.Contact .row .form .btn:focus {
  box-shadow: none;
}
.Contact .row .form .icons .icon {
  border: 1px solid #321c51;
  color: #321c51;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.2s;
}
.Contact .row .form .icons .icon:hover {
  background-color: #321c51;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}/*# sourceMappingURL=style.css.map */