.about {
    .title{
        color: #ffdd03;
    }
    .mini{
        color: #FBC403;
    }
  .back {
    top: 15%;
    left: 10%;
    position: absolute;
    .avatar {
      border-radius: 30px;
      opacity: .5;
    }
  }
  .image{
    .avatar {
        border-radius: 25px;
      }
  }
  .description{
    p{
      text-align: justify;
    }
  }
}
