.about {
  .title {
    color: #ffdd03;
    font-family: Arial, Helvetica, sans-serif;
  }
  .mini {
    color: #fbc403;
  }
  .back {
    top: 15%;
    left: 10%;
    position: absolute;
    .avatar {
      border-radius: 30px;
      opacity: 0.5;
    }
  }
  .image {
    .avatar {
      border-radius: 25px;
    }
  }
  .description {
    p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: justify;
    }
  }
}

