.footer {
  background-color: #fbfcd4;
  .title {
    color: #fbc403;
  }
  .copyright {
    color: #0a0a0a;
  }
  .links {
    .item {
      a {
        color: #0a0a0a;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
