.footer {
  background-color: #fbfcd4;
  .title {
    color: #fbc403;
    font-family: Arial, Helvetica, sans-serif;
  }
  .desc{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .copyright {
    color: #0a0a0a;
  }
  .links {
    .item {
      a {
        color: #0a0a0a;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
