.footer {
  background-color: #321C51;
  .image {
    width: 70px;
  }
.desc{
  color: #DBCFED;
  .one{
background: linear-gradient(90deg,rgb(19,176,245,100%),rgb(231,15,170,100%)); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
 }
 .two{
  color:rgb(19,176,245,100%)
 }
 .th{
  color:rgb(231,15,170,100%);
 }
}
  .links {
      a {
        &:hover {
          color: #fff;
          opacity: 0.7;
        }
      }
  }
}
