.hero {
  height: calc(100vh - 71px);
  .title {
    color: #FFDD03 ;
  }
  .fonction {
    color: #FBC403;
  }
  .description {
    font-size: 18px;
    text-align: justify;
    font-family: Helvetica, sans-serif;
    color: #dbdfd5;
  }
  .image {
    width: 50%;
    -webkit-animation: animate 2s infinite ease alternate;
    animation: animate 2s infinite ease alternate;
    transform: rotateY(360deg);
    transition: 4s;
    &:hover {
      transition: 0.4;
      -webkit-animation: click 2s ease alternate;
      animation: click 2s ease alternate;
    }
  }
  .icons-social {
    span {
      cursor: pointer;
      &:hover {
        opacity: 0.9;
        position:relative;
      top: 2px;
      }
    }
  }
}
@-webkit-keyframes animate {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(25px);
  }
}

@keyframes animate {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(25px);
  }
}

@-webkit-keyframes click {
  to {
    transform: rotateY(180deg);
  }
}

@keyframes click {
  to {
    transform: rotateY(180deg);
  }
}
