.hero {
  height: calc(100vh - 71px);
  .title {
    color: #ffdd03;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.1;
    transition: 0.9s;
    &.show {
      opacity: 1;
    }
  }
  .fonction {
    color: #fbc403;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.1;
    transition: 1.5s;
    &.show {
      opacity: 1;
    }
  }
  .description {
    font-size: 18px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #dbdfd5;
    opacity: 0.1;
    transition: 2s;
    &.show {
      opacity: 1;
    }
  }
  .image {
    width: 50%;
    -webkit-animation: animate 2s infinite ease alternate;
    animation: animate 2s infinite ease alternate;
    transform: rotateY(360deg);
    transition: 3s;
    &:hover {
      transition: 0.4;
      -webkit-animation: click 2s ease alternate;
      animation: click 2s ease alternate;
    }
    opacity: 0.1;
    &.show {
      opacity: 1;
    }
    .front {
      left: 20%;
      top: 15%;
    }
  }
  .icons-social {
    a {
      cursor: pointer;
      opacity: 0.1;
      transition: 2s;
      &.show {
        opacity: 1;
      }
      &:hover {
        color: inherit;
        opacity: 0.9;
        position: relative;
        top: 2px;
      }
    }
  }
}
@-webkit-keyframes animate {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(25px);
  }
}

@keyframes animate {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(25px);
  }
}

@-webkit-keyframes click {
  to {
    transform: rotateY(180deg);
  }
}

@keyframes click {
  to {
    transform: rotateY(180deg);
  }
}
