.navbar {
  .navbar-brand {
    font-size: 30px;
    color: #ffdd03;
    // font-family: "Irish Grover", cursive;
    &:hover {
      color: #ffdd03;
    }
  }
  .navbar-toggler {
    color: #ffdd03;
    font-size: 30px;
    font-weight: bold;
    &:focus{
      box-shadow: none;
    }
  }
  .collapse {
    .navbar-nav {
      .nav-link {
        color: #fbfcd4;
        position: relative;
        &:hover:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1.5px;
          background-color: #fbfcd4;
          bottom: 4px;
          left: 0;
          right: 0;
          border-radius: 3px;
          box-shadow: 0px 0px 1.5px 1px rgb(245, 245, 94);
        }
        &.active span {
          color: #ffdd03;
          font-weight: bold;
          font-size: larger;
        }
      }
    }
    .contact {
      .btn {
        color: white;
        padding: 8px 15px;
        border-radius: 10px;
        font-size: 18px;
        border-width: 2px;
        border-style: solid;
        border-color: #ffdd03;
        font-weight: 500;
        &:hover {
          background-color: #ffdd03;
          color: #fff;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
