@import url("https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap");

.navbar {
  z-index: 2;
  background: linear-gradient(
    90deg,
    rgb(129, 34, 207, 100),
    rgb(69, 56, 92, 0%)
  );
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 25%);
  .navbar-brand {
    color: #ffffff;
    .image {
      width: 70px;
    }
  }
  .collapse {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: #fff;
        }
        .hire {
          color: #321c51;
          background-color: #fff;
          border-radius: 8px;
        }
      }
    }
  }
}
