.skills {
  .skill {
    background-color: red;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid white;
    -webkit-clip-path: polygon(
      51% 39%,
      90% 18%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 18%
    );
    clip-path: polygon(
      51% 39%,
      90% 18%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 18%
    );
  }
  .head {
    color: #ffdd03;
    // opacity:1;
    &.add {
      -webkit-animation: flow 2s ease;
      animation: flow 2s ease;
    }
  }
  .mini {
    color: #fbc403;
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 50px 18px 18px 0px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      background-color: #0a0a0a;
      width: 150px;
      height: 75px;
      border-radius: 50%;
      top: -35px;
      z-index: 1;
    }
    &:after {
      position: absolute;
      width: 100px;
      height: 100px;
    }
    .title {
      color: #0a0a0a;
    }
    .effect {
      width: 40px;
      height: 40px;
      background: #0a0a0a;
      border-radius: 50%;
      left: 3%;
      top: 7%;
    }
    .icon {
      top: 1%;
      font-size: 25px;
      right: 5%;
      &.figma {
        color: #f14d1d;
      }
      .html {
        color: #e34f26;
      }
      .css {
        color: #2965f1;
      }
      .react {
        color: #00d8ff;
      }
      &.code {
        color: #1877f2;
      }
    }
    p {
      text-align: justify;
    }
  }
}

@-webkit-keyframes flow {
}

@keyframes flow {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
