.testimo {
  .head {
    font-family: Arial, Helvetica, sans-serif;
  }
  .desc {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .swiper {
    height: 70vh;
    .swiper-slide {
      margin: 0;
      color: black;
      // width: 400px;
    }
  }
  .card {
    border-radius: 10px 2px 12px 0px;
    &:before {
      content: "";
      position: absolute;
      width: 115px;
      height: 100px;
      background-color: #0a0a0a;
      border-radius: 50%;
      top: -15%;
      left: 50%;
      transform: translateX(-50%);
    }
    img {
      position: absolute;
      width: 100px;
      height: 100px;
      top: -17%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
    }
    .title {
      font-family: Arial, Helvetica, sans-serif;
    }
    .mini {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 18px !important;
    }
    .desc {
      font-family: Arial, Helvetica, sans-serif;
    }
    .quote {
      background-color: #f8b600;
      width: 40px;
      height: 40px;
    }
  }
}
